body{
    background-color: #D1D8EC;
}
.container{
    width:95%;
    height:95vh;
    margin:auto;
    background-color: #D1D8EC;
    display: flex;
    flex-direction: row;
    border-radius:5px;
background: #D1D8EC;
-webkit-box-shadow: 12px 12px 24px #b2b8c9,
-12px -12px 24px #f0f8ff;
box-shadow: 12px 12px 24px #b2b8c9,
-12px -12px 24px #f0f8ff;
}
.col-1{
    width: 8.3%;
    height: max-content;
    text-align: center;
    margin:15px;
    -webkit-border-radius: 50px; 
    border-radius: 50px; 
    background: #D1D8EC;
    box-shadow: 12px 5px 24px #b2b8c9,
    -12px -5px 24px #f0f8ff;
    width: 100px;
    height: 30px;
}